:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 218, 252);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-font: 'Impact', fantasy;
  --main-color: rgb(82, 190, 226);


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /*display: flex;*/
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(227, 233, 248);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding-left: 1em;
  color: var(--main-color);
  background-color: transparent;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Impact', fantasy;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightpink;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em;
  color: black;
}
.app {
  padding-top: 12em;
  padding-bottom: 2em;
}

.category {
  display: flex;
  align-items: center;

  width: 350px;
  height: 150px;
  margin: 1.5rem;
  padding: 2em;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  color: black;

  text-align: left;
  
}
.category h2 {
  text-transform: uppercase;
  font-family: var(--main-font); 
  margin-bottom: 0;
}
.category img {
  width: 100px;
  padding-right: 1em;
}
/** FOOD ITEM COMPONENT **/
.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.category:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.foodItem {
  width: 310px;
  height: 460px;
  margin: 1.5rem;
  padding: 2em;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  background-color: white;
  /*border: 1px solid black;
  border-radius: 5em;
  padding: 3em;
  color:black;
  flex: 0 1 calc(50% - 2em); 
  margin: 1em; 

  position: relative;*/

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  color: black;

}
.foodItem:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
.foodItemImage img {
  width: auto;
  height: 200px;
}
.foodItemInfo h3 {
  font-size: 2em;
}
.price {
  font-size: 1.5em;
}

/** PROMOTIONS **/
.promoContainer {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/
}
.promoItem {
  width: 460px;
  height: 360px;
  margin: 1.5rem;
  padding: 2em;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  color: black;
}
.promoImage img {
  width: auto;
  height: 200px;
}

.home h1 {
  color: var(--main-color);
  background-color: transparent;
  text-transform: uppercase;
  text-align: left;
  font-family: var(--main-font);
}

.home h2 {
  text-transform: uppercase;
  font-family: var(--main-font);
}

.promoItem:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.goToMenu {
  width: 460px;
  height: 360px;
  margin: 1.5rem;
  padding: 2em;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  color: black;
}
.goToMenu:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.menuLink {
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
}
.menuLink:hover {
  text-decoration: none;
  color: black;
}
.numItems {
  margin: 0;
  color: darkgray;
}

/** NAV BAR **/
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  position: fixed;
  padding: 1em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
}
.navBar .logo {
  width: 90px;

}
.navBar h2 {
  font-family: var(--main-font);
  text-transform: uppercase;
  background: -webkit-linear-gradient(#ffffff, rgb(82, 190, 226));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8em;
 
}

.link {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 1.5em;
  color:white;
}
.activeLink {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 1.5em;
  color: var(--main-color);
}

.link:hover {
  color: var(--main-color);
}
.activeLink:hover {
  color: var(--main-color);
}

.foodItemInfo p {
  margin: 0;
}

/** CART **/
.cartContainer {
  position: relative;
  cursor: pointer;
}
.bagIcon {
  width: 25px;
  height: 25px;
  fill: white;
}

.cartCount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--main-color);
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 12px;
}

.cart {
  border: 1px solid black;
  border-radius: 1em;

  color: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 600px;
  background: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease-in-out;
  padding: 20px;
  overflow-y: auto;
  z-index: 20; /* So it appears above the overlay */
}

.cartSummary {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cartSummary .numItems {
  margin-right: 20px;
  margin-left: 2px;
}

.cartSummary .total {
  /*display: flex;
  flex-direction: column;
  align-items: flex-end;*/
  margin-left: auto;
  text-align: right;
  
}
.cartSummary .total p {
  margin: 0;
}
.nothingInCart {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sadBurger {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: var(--main-color);

}
.sadBurger img {
  width: 100px;
  height: 100px;
}

.cartItems {
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.itemInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemInfo img {
  width: 80px;
  height: 80px;
  margin-right: 0;
  border-radius: 8px;
}

.cartItemDetails {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}
.cartItemDetails .name {
  text-transform: uppercase;
  color: var(--main-color);
}
.cartItemDetails .priceInfo {
  margin: 0;

}
.cartItemDetails .priceInfo .numberStrike {
  text-decoration: line-through;
  margin-top: 1em;
  margin-bottom: 0;
}
.discount {
  color: green;
  margin-top: 0;
}

.review {
  margin-bottom: 1rem;

}

.checkoutForm .cusInfo {
  display: grid;
}
.checkoutForm input {
  background-color: white;
}

.checkoutItem {
  background-color: white;
  margin: 0em 15em 0.5em;
  border-radius: 1em;
  display: grid;  
  grid-template-columns: 50px 1fr 100px;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.checkoutItem .itemQuan {
  color: var(--main-color);
}

.checkoutItem img {
  width: auto;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.checkoutItem p {
  margin: 0;
}

.checkoutItem p:nth-child(2) {
  font-weight: bold;
  font-size: 1rem;
}

.checkoutItem p:nth-child(3) {
  text-align: right;
  font-size: 0.9rem;
}

.payInfoContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  height: 100%;           /* Ensure it takes up full height of its parent */
  width: 100%;            /* Ensure it takes up full width of its parent */
}

.payInfo {
  display: flex;
  flex-direction: column;
  align-items: center;    /* Center items inside the form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff; /* Optional: adds a background color */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}

.payInfoContainer button:hover {
  background-color: rgb(152, 208, 152);
}


.itemControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;

}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
.quantity button {
  padding: 5px 10px;
  color: var(--main-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}
.quantity .disabled {
  color: lightgray;
}

.quantity button:hover {
  background-color: transparent;

}


.removeFromCart {
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
  border:none;
  text-transform: uppercase;
  text-decoration: underline;
  color: black;
}

.removeFromCart:hover {
  background-color: transparent;
  text-decoration:none;
}
/* Overlay when cart is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; /* So it appears above other content */
}

/** CHECKOUT **/
h2 {
  text-transform: uppercase;
}
h2 span {
  color: var(--main-color);
}
/** BUTTONS **/
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em;
}
.toggleCart {
  margin-right: -200px;
}
button:hover {
  border-color: #646cff;
  background-color: rgb(39, 64, 87);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* Base Stripe element styling*/
.StripeElement {
	background-color: #f8f8f8;
	padding: 10px;
	max-width: 90%;
	border: 2px solid #e0dddd;
}

/* Set a red bottom border to field when empty */
.StripeElement--empty {
    border-bottom-color: #b22222;
}

/* Set a green bottom border to field when in focus */
.StripeElement--focus {
    border-bottom-color: #008000;
}

/* Set styling when form field data is invalid */
.StripeElement--invalid {
    background-color: #ffd90080;
    border-color: #b22222;
}

/* Set styling when form field data is completed and valid */
.StripeElement--complete {
    background-color: #00800015;
}

/* Set credit card number input field width */
form.pmpro_form #pmpro_payment_information_fields div#AccountNumber {
	max-width: 270px;
}

/* Set expiry date input field width */
form.pmpro_form #pmpro_payment_information_fields div#Expiry {
	max-width: 110px;
}

/* Set CVC/CVV input field width */
form.pmpro_form #pmpro_payment_information_fields div#CVV {
	max-width: 110px;
}